* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    background-color: white;
}

.planner-page-div {
    padding-top: 50px;
    min-height: calc(100vh - 50px - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planner-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    /* background: red; */
}

.planner-page-div main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planner-page-header > * {
    color: #6F4C5B;
}

.add-task-button {
    background-color: #9E7777;
    color: white;
    padding: 5px;
    border: 1px solid #9E7777;
    border-radius: 10px;
}

.add-task-button:hover {
    background-color: #6F4C5B;
    border: 1px solid #6F4C5B;
    cursor: pointer;
}
